/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 17, 2019, 11:25:42 AM
    Author     : saru
*/

  .efp8s{background:#eef0f5;width:254px;height:160px;position:relative}.efp8s:after{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(40,44,63,.05);content:"";background-blend-mode:overlay}*,:after,:before{box-sizing:inherit}html{box-sizing:border-box;font-family:Arial,Helvetica Neue,sans-serif;font-size:14px;line-height:1.2;letter-spacing:-.5px;-moz-font-smoothing:antialiased;-webkit-font-smoothing:antialiased}body,html{margin:0;padding:0;height:100%;font-weight:300;color:#282c3f}a:-webkit-any-link{color:-webkit-link;cursor:pointer}a:-webkit-any-link:active{color:-webkit-activelink}._1j_Yo{background:#fff;display:block;text-decoration:none;color:inherit;margin:-20px 0 60px}div{display:block}._1HEuF{padding:20px 20px 57px;border:1px solid #fff;contain:content}._1HEuF,._3FR5S{position:relative}._3FR5S{width:254px}._1HEuF,._3FR5S{position:relative}._12_oN{opacity:0;transition:opacity .3s ease-out}._2tuBw{opacity:1!important}img{border-style:none}img[AttributesStyle]{width:254px;height:160px}.IJsqo{position:absolute;left:-8px;top:0;background-color:#8a584b;color:#fff;font-size:13px;font-weight:500;padding:5px 9px 4px;max-width:50%;text-transform:uppercase;border-color:#8a584b}._3Ztcd{margin-top:14px}.nA6kb{font-size:17px;font-weight:500;word-break:break-word;color:#000}._1gURR{color:#686b78;font-size:13px;margin-top:4px}._3Mn31,._9uwBC{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}._3Mn31{margin-top:18px;font-size:12px;-ms-flex-pack:justify;justify-content:space-between;color:#535665}.wY0my{background-color:#48c479;color:#fff}._9uwBC{height:20px;width:43px;padding:0 5px;font-weight:400}._3Mn31,._9uwBC{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}._537e4{font-size:10px;margin-right:4px;position:relative;top:-1px}[class*=" icon-"],[class^=icon-]{font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}._3Mn31{margin-top:18px;font-size:12px;-ms-flex-pack:justify;justify-content:space-between;color:#535665}.Zlfdx{border-top:1px solid #e9e9eb;padding-top:14px;margin-top:14px;color:#8a584b;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;font-weight:600}._2fujs{font-size:16px;width:20px;height:16px;margin-right:4px;transform:rotate3d(0);-ms-transform-origin:center center;transform-origin:center center}[class*=" icon-"],[class^=icon-]{font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.sNAfh{font-weight:400;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}._3B2qG{color:#686b78;font-size:13px;visibility:hidden;border-top:1px solid #e9e9eb;padding-top:14px;margin-top:14px;position:absolute;left:20px;right:20px;bottom:14px}._24tlh{text-align:center;float:none;display:block;margin:0 auto;width:100px}._2ECk4{color:#5d8ed5;float:right;text-transform:uppercase;font-weight:600}a:-webkit-any-link{color:-webkit-link;cursor:pointer;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}._1j_Yo,._3XX_A{position:relative}._1j_Yo{background:#fff;display:block;text-decoration:none;color:inherit;margin:-20px 0 60px}a,a:focus,a:hover,a:visited{text-decoration:none}._1j_Yo,._3XX_A{position:relative}.MZy1T{margin-bottom:85px;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between}._2GhU5{padding-top:39px;margin-top:-10px;border-top:1px solid #e9e9eb}._10p2-{max-width:1200px;min-width:1200px;position:relative;margin:0 auto;padding:20px 0;background:#fff}.k4axS{height:72px;position:relative}._19Aso{height:72px;transform:translateZ(0);z-index:999;position:absolute;top:0;left:0;right:0}._2LB31,._3IrNP{height:100%}._1H8qJ,._3IrNP{position:relative}._3IrNP{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;max-width:1200px;margin:0 auto}._2LB31,._3IrNP{height:100%}._1H8qJ{width:34px;height:34px;border:1px solid transparent;border-radius:50%;margin-right:16px;cursor:pointer;margin-left:2px;box-shadow:0 1px 4px 0 rgba(40,44,63,.4)}._1H8qJ,._3IrNP{position:relative}.BZR3j{font-weight:600;font-size:28px;-ms-flex:1;flex:1}._2-ofZ,._3Ynv-{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}._3Ynv-{margin-top:9px}a,a:focus,a:hover,a:visited{text-decoration:none}._3bkpC{font-weight:500;color:#282c3f;margin-right:15px;will-change:opacity;opacity:0}._2-ofZ{font-size:16px;font-weight:300;text-transform:capitalize;color:#686b78;margin-left:35px;cursor:pointer;position:relative}._2-ofZ,._3Ynv-{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:-webkit-any-link{color:-webkit-link;cursor:pointer;text-decoration:none}.Vqj7X{margin-right:10px}[class*=" icon-"],[class^=icon-]{font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}._2-ofZ:hover,._3hfyI{color:#3d4152}._2-ofZ{font-size:16px;font-weight:300;text-transform:capitalize;color:#686b78;margin-left:35px;cursor:pointer;position:relative}._2-ofZ,._3Ynv-{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}._2-ofZ{font-size:16px;font-weight:300;text-transform:capitalize;color:#686b78;margin-left:35px;cursor:pointer;position:relative}._2-ofZ,._3Ynv-{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}.h0xOG{font-weight:500;color:#3d4152;margin-left:10px}._3eFQ-{color:#fc8019;border:1.5px solid #fc8019;width:30px;height:30px;border-radius:50%;margin-left:8px;position:relative;font-size:14px;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center}._1PoQ7{font-weight:inherit}[class*=" icon-"],[class^=icon-]{font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}._3LhmH{width:calc(((100vw - 1300px)/ 2) + 2px);height:100%;position:absolute;top:0;left:1px;background:#fff;opacity:0;z-index:1;will-change:opacity;transition:opacity .3s ease;-ms-transform:translateX(-100%);transform:translateX(-100%)}.J2YDs{width:100%;min-width:1px;height:100%;position:absolute;right:0;top:0;background:#fff;opacity:0;z-index:1;transition:opacity .3s ease-out;will-change:opacity;-ms-transform:translateX(100%);transform:translateX(100%)}._1LV_f{width:1300px;margin:0 auto;max-width:100%;position:relative}._1LV_f{background:#fff}._29kDH{background:#ec6f5b;min-height:calc(100vh - 368px);overflow-x:hidden;overflow-y:auto;position:relative;z-index:2}._1HEuF,._3FR5S{position:relative}._1HEuF{padding:20px 20px 57px;border:1px solid #fff;contain:content}.div{text-decoration:none}
  
  .a{
      background:#ffffffd4;display:block;text-decoration:none;color:inherit;
      margin-right: 20px;
      
  }
  .a,._3XX_A{position:relative}
  
  ._1HEuF:hover{border:1px solid #000;box-shadow:inset 0 0 0 1px #000;box-shadow:1px 1px #000,2px 2px grey,3px 3px grey;-webkit-transform:translateX(-3px);transform:translateX(-3px);border-color: black}
  body,html{
    
    margin: 0;
    padding: 0;
    
    }
   
    .searchbar{
    margin: 20px;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 1.5s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
    
    a.btn {border-radius: .25rem; border: 1px solid transparent; padding: .5rem 1rem; color: #fff; }
a.btn:hover { border-radius: .25rem; }
